{#
/**
 * @file
 * Default implementation for Iconify icons.
 *
 * Available variables:
 * - icons: a list of Iconify icons to be rendered.
 *
 * @ingroup themeable
 */
#}
<div class="iconify-icons">
    {{ icons }}
</div>
