/**
 * @file
 * Skin based on safe CSS file name: ultimenu--htb-tabs-blue.
 */

:root {
  --ultiblue: #0779bf;
  --ultiblue-light: #48a9e4;
  --ultiblue-dark: #064655;
}

.ultimenu--htb-tabs-blue {
  --ultilink-bg-normal: transparent;
  --ultilink-bg-hover: var(--ultiblue);
  --ultilink-bg-active: var(--ultiblue);
  --ultinormal: var(--ultiblue);
  --ultiactive: var(--ultiblue-dark);
  --ultiflyout: var(--ultiblue);
  --ultiregion: #fff;
  --ultiregion-color: #000;
  --ultilink-normal: var(--ultiblue);
  --ultilink-active: #fff;
  --ultisub-expanded: var(--ultiblue);
  --ultisub-normal: var(--ultiblue);
  --ultisub-active: var(--ultiblue-dark);
  --ultisub2-normal: var(--ultiblue-light);
  --ultisub2-active: #fff;
  --ulticaret-normal: var(--ultiblue);
  --ulticaret-active: var(--ultiblue-light);
}

.ultimenu--htb-tabs-blue .ultimenusub .menu .menu {
  --ulticaret-normal: var(--ultiblue-light);
  --ulticaret-active: #fff;
}

.is-ultimenu--active .is-ultimenu__canvas-off .ultimenu--htb-tabs-blue {
  --ultinormal: var(--ultiblue);
  --ultiactive: #fff;
  --ultiflyout: var(--ultiblue);
  --ultiregion: transparent;
  --ultilink-normal: var(--ultiblue-light);
  --ultilink-active: var(--ultiactive);
  --ultisub-expanded: rgba(0, 0, 0, 0.2);
  --ultisub-normal: var(--ultiblue-light);
  --ultisub-active: var(--ultiactive);
  --ulticaret-normal: var(--ultiblue);
  --ulticaret-active: var(--ultiactive);
}

.ultimenu > .is-active-trail > .ultimenu__link {
  --ulticaret-normal: #fff;
  --ulticaret-active: #fff;
}

.is-ultimenu--active
  .is-ultimenu__canvas-off
  .ultimenu--htb-tabs-blue
  .ultimenusub
  .menu {
  --ulticaret-normal: var(--ultiblue-light);
  --ulticaret-active: #fff;
}

.ultimenu--htb-tabs-blue .ultimenu__flyout {
  border-top: 1px solid var(--ultiblue-light);
}

.ultimenu--htb-tabs-blue .ultimenu__link {
  border-top: 1px solid transparent;
}

.ultimenu > li > .ultimenu__link:active,
.ultimenu > li:hover > .ultimenu__link {
  border-top: 1px solid var(--ultiblue-light);
}

.is-ultimenu--active
  .ultimenu--htb-tabs-blue
  .is-uitem-expanded
  > .ultimenu__flyout {
  padding-top: 0;
}

.is-ultihover.ultimenu--htb-tabs-blue .block:first-child {
  float: left;
  width: 45%;
}

.is-ultihover.ultimenu--htb-tabs-blue .block:nth-child(2) {
  margin-left: 48%;
}

/** Unfortunaly is-active is unreliable, it goes on scroll. */
.is-ultihover.ultimenu--htb-tabs-blue > li > a,
.is-ultihover.ultimenu--htb-tabs-blue .is-active-trail > a {
  border-radius: 5px 5px 0 0;
}
