/**
 * @file
 *
 * .is-ultimobile is defined via JS, see ultimenu.css.
 * .is-ultimenu__canvas-off: #header or .region-primary-menu, etc.
 * .is-ultimenu__canvas-on: any sibling of #header.
 *
 * Tips: Use blazy:3.0.7 to have [no-]touchevents HTML classes.
 */

/** The #header alike element, out of canvas by default, can exist once. */
html.is-ultimenu--active .is-ultimenu__canvas-off {
  left: 0;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition-delay: 0.01s;
  -ms-transform: translate3d(-120%, 0, 0) scale3d(0.9, 0.9, 0.9);
  -webkit-transform: translate3d(-120%, 0, 0) scale3d(0.9, 0.9, 0.9);
  transform: translate3d(-120%, 0, 0) scale3d(0.9, 0.9, 0.9);
  -ms-transform-origin: 50% 0% 50%;
  -webkit-transform-origin: 50% 0% 50%;
  transform-origin: 50% 0% 50%;
}

html.is-ultimenu--hiding .is-ultimenu__canvas-off {
  transition-duration: 600ms;
}

html.is-ultimenu.is-ultimenu--expanded .is-ultimenu__canvas-off {
  transition-delay: 0s;
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

/** Any element below, pushed out of canvas once the #header is in. */
html.is-ultimenu--active .is-ultimenu__canvas-on {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 550ms ease;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

html.is-ultimenu--hiding .is-ultimenu__canvas-on {
  transition-duration: 400ms;
}

html.is-ultimenu.is-ultimenu--expanded .is-ultimenu__canvas-on {
  -ms-transform: translate3d(320px, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: translate3d(320px, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(320px, 0, 0) scale3d(1, 1, 1);
}

/**
 * 944px = 58.999em with 16px base font.
 * We are here at mobile devices.
 * .is-ultimobile is for touch devices, see ultimenu.css.
 */
/** The #header alike element, out of canvas by default, can exist once. */
html.is-ultimobile .is-ultimenu__canvas-off {
  left: 0;
  max-width: 82%;
  -ms-transform: translate3d(210%, 0, 0) scale3d(0.9, 0.9, 0.9);
  -webkit-transform: translate3d(210%, 0, 0) scale3d(0.9, 0.9, 0.9);
  transform: translate3d(210%, 0, 0) scale3d(0.9, 0.9, 0.9);
}

html.is-ultimobile.is-ultimenu--expanded .is-ultimenu__canvas-off {
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

html.is-ultimobile.is-ultimenu--expanded .is-ultimenu__canvas-on {
  -ms-transform: translate3d(82%, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: translate3d(82%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(82%, 0, 0) scale3d(1, 1, 1);
}
